$white: #fff;
$green: #53d76a;
$grey: #d3d3d3;
$ribbon-color: $white;
$active-ribbon-color: #FF183A;
$ribbon-w: 14px;
$ribbon-tail: 10px;
$pink: #FA7878;
$skye-blue: #2196F3;
$blue: #3C75DD;
$main-background-color: #F4F5F7;
$black: #000000;
