<li class="panel todo">
       <div class="panel-body ">
           <a href="" class="ribbon" ng-click="todosCtrl.bookmarkToggle(todo)" ng-class="{'active': todo.isBookmarked}" ng-if="todo.isCreated">
              <span></span>
            </a>
           <ul class="info">
               <li>Time:
<span ng-if="!todo.isEditable">{{todo.time}}</span>
<input type="text" class="form-control" ng-value="todo.time" ng-if="todo.isEditable" ng-model="todo.time">
</li>
<li>Date:
<span ng-if="!todo.isEditable">{{todo.date}}</span>
<input type="text" class="form-control" ng-value="todo.date" ng-if="todo.isEditable" ng-model="todo.date" datepicker>
</li>
<li>Description:
<span ng-if="!todo.isEditable">{{todo.description}}</span>
<textarea class="form-control" ng-value="todo.description" ng-if="todo.isEditable" rows="2" ng-model="todo.description"></textarea>
</li>
</ul>
</div>
<div class="panel-footer clearfix">
    <button type="button" name="leftMove" class="btn btn-default" ng-click="todosCtrl.leftMove(todo)" ng-disabled="!todo.isCreated">&lt;</button>
    <button type="button" name="rightMove" class="btn btn-default" ng-click="todosCtrl.rightMove(todo)" ng-disabled="!todo.isCreated">&gt;</button>
    <div class="pull-right">
        <button type="button" name="edit" class="btn btn-primary" ng-if="todo.isEditable&&!todo.isCreated" ng-click="todosCtrl.createTask(todo)"><span class="glyphicon glyphicon-plus" ></span></button>
        <button type="button" name="edit" class="btn btn-success" ng-if="todo.isEditable&&todo.isCreated" ng-click="todosCtrl.saveTask(todo)"><span class="glyphicon glyphicon-ok" ></span></button>
        <button type="button" name="edit" class="btn btn-info" ng-if="!todo.isEditable" ng-click="todosCtrl.editTask(todo)"><span class="glyphicon glyphicon-pencil" ></span></button>
        <button type="button" name="delete" class="btn btn-danger" ng-click="todosCtrl.deleteTask(todo)"><span class="glyphicon glyphicon-trash" ></span></button>
    </div>
</div>
</li>
