<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <h2 class="navbar-brand">All in time</h2>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li ng-click="todosCtrl.addTask()"><a href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>Add Task</a></li>
            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{todosCtrl.filterTodos}}<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#" ng-click="todosCtrl.filterTodos='All Tasks'">All Tasks</a></li>
            <li><a href="#" ng-click="todosCtrl.filterTodos='To Do'">To Do</a></li>
            <li><a href="#" ng-click="todosCtrl.filterTodos='In Progress'">In Progress</a></li>
            <li><a href="#" ng-click="todosCtrl.filterTodos='To Testing'">To Testing</a></li>
            <li><a href="#" ng-click="todosCtrl.filterTodos='Done'">Done</a></li>
        </ul>
        </li>
        </ul>
    </div>
</nav>
<main>
    <div class="wrapper todos-field">
        <ul class="todo-panel" ng-if="todosCtrl.filterTodos=='All Tasks'||todosCtrl.filterTodos=='To Do'">
            <todo-card ng-repeat="todo in todosCtrl.todos track by $index"></todo-card>
        </ul>
        <ul class="todo-panel" ng-if="todosCtrl.filterTodos=='All Tasks'||todosCtrl.filterTodos=='In Progress'">
            <todo-card ng-repeat="todo in todosCtrl.progress track by $index"></todo-card>
        </ul>
        <ul class="todo-panel" ng-if="todosCtrl.filterTodos=='All Tasks'||todosCtrl.filterTodos=='To Testing'">
            <todo-card ng-repeat="todo in todosCtrl.testing track by $index"></todo-card>
        </ul>
        <ul class="todo-panel" ng-if="todosCtrl.filterTodos=='All Tasks'||todosCtrl.filterTodos=='Done'">
            <todo-card ng-repeat="todo in todosCtrl.done track by $index"></todo-card>
        </ul>
    </div>
</main>
